.container {
  border: 2px solid rgb(5, 101, 79);
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.title {
  color: rgb(245, 16, 16);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  color: green;
  font-size: 20px;
  margin-bottom: 5px;
}

.image {
  border-radius: 15px;
}
