.counter {
  width: 400px;
  padding: 10px;
  border: 2px solid rgb(71, 108, 103);
  border-radius: 15px;
  text-align: center;
}

.controls > button:active {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}

.value {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 64px;
  font-family: monospace;
  text-align: center;
  color: rgb(7, 51, 154);
}
